.nav-bar {
  width: 300px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #999;
  font-size: 1.5em;
  padding: 0;
  margin: 0;

  background-color: var(--color-primary-light);
  border-left-style: solid;
  border-left-width: 16px;
  border-color: var(--color-primary-dim);
}

.nav-list {
  list-style-type: none;
  padding: 0;
}

.nav-heading,
.nav-subheading {
  display: block;
  text-decoration: none;
  min-width: 300px;
  padding: 8px 64px;

  color: white;
}

.nav-subheading {
  padding-left: 80px;
}

.nav-heading:hover,
.nav-subheading:hover {
  background-color: var(--color-primary-dim);
  color: var(--color-dark);
}

.main {
  width: calc(100% - 300px);
}

.home-page {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  color: var(--color-dark);
}

.profile-border {
  padding: 6px;
  border-radius: 50px;
  background: linear-gradient(115deg, var(--color-dark), var(--color-secondary), var(--color-secondary-mint));
}

.profile-card {
  width: 1000px;
  height: 500px;
  padding: 30px;

  background: var(--color-background);

  border-style: solid;
  border-width: 0px;
  border-radius: 44px;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.profile-text {
  margin-top: 20px;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: right;
}

.headshot-photo {
  width: auto;
  height: 450px;

  border-style: solid;
  border-width: 30px;
  border-color: white;
  border-radius: 40%;
}
