.horizontal-divider {
  width: 500px;
  height: 3px;
  margins: 0;
  padding: 0;

  background: gray;
}

.main {
  width: calc(100% - 300px);
  overflow: hidden;
}

.home-page {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  padding: 64px 0px;

  color: var(--color-dark);
}

.gradient-border {
  padding: 6px;
  border-radius: 50px;

  width: auto;
  height: auto;

  background: linear-gradient(90deg, black, gray);
}
