:root {
  font-family: Ubuntu, Helvetica, sans-serif;

  --color-background: #F1FDFD;
  --color-dark: #001046;
  --color-accent-dark: #1200D8;
  --color-primary-dim: #0077D8;
  --color-primary-light: #52ABF5;
  --color-secondary: #00BBD7;
  --color-secondary-mint: #00BB95;
  --color-tertiary-dark: #654B35;
  --color-tertiary-light: #F7CFC4;

  background-color: var(--color-background);

  scroll-behavior: smooth;
}

h1 {
  font-size: 4em;
  text-align: center;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
}
