.projects-page {
  height: auto;
  width: 100%;
   
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.projects-header-box {
  width: 100%;
}

.projects-header-box h2 {
  text-align: center;
  margin: 80px 0px;
}

.project-frame {
  width: 40%;
  height: auto;
  padding: 24px;
  
  display: flex;
  flex-direction: column;
}

.left-project-frame {
  align-items: flex-end;
}

.right-project-frame {
  align-items: flex-start;
}

.project-card {
	width: 100%;
	height: auto;
	margin: 36px 0px;
	margin-top: 0px;
  box-sizing: border-box;
	padding: 24px;

	border-radius: 30px;
	background-color: white;

	border-style: inset;
	border-color: lightgray;
	border-width: 6px;
}

.project-current {
	border-style: outset;
	border-color: var(--color-secondary-mint)
}

.current-flag {
  width: 100%;
}

.current-flag p {
  width: 6em;
  margin: 30px;
  margin-bottom: 0;
  padding: 3px 10px;
  padding-left: 0.2em;

  border-radius: 0 16px 0 0;
  color: white;
  font-size: 1.2em;
  text-align: center;
  background-color: var(--color-secondary-mint);
}

.project-external-link {
  height: 2em;
  float: right;
  padding: 16px 12px;
  display: flex;
  align-items: center;
  gap: 6px;

  font-size: 1em;
  
  background-color: lightgray;
  border-radius: 0.5em;
  border-width: 2px;

  transition: all 0.2s ease;
}

.project-external-link:hover {
  background-color: gray;
  cursor: pointer;
}

.project-label {
  margin-bottom: 0;
}

.project-description {
  font-size: 1.2em;
}

.project-skills-label {
  color: gray;
  padding: 0;
  margin: 0;
}

.project-skills-box {
  width: 100%;
  height: auto;

  margin-bottom: 24px;
}

.project-skills-row {
  margin: 3px 0px;
  
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 3px;
}

.project-skill-bubble {
  padding: 6px 16px;
  
  text-align: center;
  font-size: 1em;
  color: lightgray;
  
  border-radius: 2px;
  background-color: var(--color-dark);
}
