.jump-label {
  margin: 0px;
  margin-top: 36px;
  padding: 3px;

  font-size: 1.5em;
  text-align: center;
  color: gray;
  
}

.shortcut-row {
  width: 80%;
  height: 36vh;
  margin: 36px 0px;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


@property --angle {
  syntax: '<angle>';
  inherits: false;
  initial-value: 150deg;
}

.shortcut-border {
  height: 95%;
  border-radius: 36px;
  padding: 9px;
  
  background-color: var(--color-primary-dim);

  position: relative;
  top: 0px;
  --angle: 150deg;
  background: linear-gradient(var(--angle), var(--color-secondary), var(--color-primary-light), var(--color-primary-dim), var(--color-dark));
  transition: all 0.3s ease, --angle 0.5s ease;
}

.shortcut {
  width: 18vw;
  height: 33vh;

  background: white;
  border-color: var(--color-secondary);
  border-radius: 36px;

  overflow: hidden;
}

.shortcut-banner {
  width: 100%;
  height: 70px;
  padding-top: 16px;

  color: white;
  text-align: center;
  font-size: 2em;
  white-space: nowrap;

  background: var(--color-secondary);
  border-radius: 33px 33px 0 0;
}

.shortcut img {
  width: 100%;
  height: auto;

  filter: blur(2px) grayscale(80%);
}

.shortcut-border a {
  text-decoration: none;
  color: inherit;
}

.shortcut-border:hover {
  top: -20px;
  height: calc(100% + 3px);
  --angle: 60deg;
}
